backend/env/
backend/db.sqlite3
.vscode

# Python caches
backend/**/__pycache__
backend/*.pyc

# Makefile leftovers
backend/*.done

# Postman tests
backend/postmantests

backend/Pipfile

# Files I do not know the meaning of
.DS_STORE
